@import "../../styles/colors";

.section {
    height: 90vh;
    display: flex;

    &_dark {
        background-color: $dark-theme-bg;
        color: $white;
    }
}

.aside {
    width: 15%;
    border-right: 2px solid $blue;
    padding: 30px 25px 10px;

    text-align: center;

    &_dark {
        border-color: $black;
    }
}

.main {
    width: 85%;
    padding: 30px 30px 10px 30px;
}

.repositoryList {
    display: flex;
    flex-direction: column;
    gap: 10px;

    text-align: left;
    overflow: hidden;
}

.filterInput {
    border: none;
    padding: 3px 4px;
    margin: 10px 0 20px;
    border: 2px solid $blue;

    font: inherit;
    font-size: 15px;

    color: $blue;

    border-radius: 5px;
    outline: none;
}
