@import "../../styles/colors";

.section {
    height: 100vh;

    display: flex;

    &_dark {
        background-color: $dark-theme-bg;
        color: $white;
    }
}

.aside {
    width: 15%;
    border-right: 2px solid $blue;
    padding: 30px 25px 10px;

    text-align: center;

    &_dark {
        border-color: $black;
    }
}

.main {
    width: 85%;
    padding: 30px 30px 10px 30px;
}

.repositoryList {
    display: flex;
    flex-direction: column;
    gap: 10px;

    text-align: left;
}
