@import "../../styles/colors";

.input {
    border: none;
    padding: 3px 4px;
    margin: 10px 0 20px;
    border: 2px solid $blue;

    font: inherit;
    font-size: 15px;

    color: $blue;

    border-radius: 5px;
    outline: none;
}
